body{
    background-color: rgba(13, 193, 206,0.5);
    margin:0 15%;
    font-style: italic;
    font-weight: bold;
    
}

#title{
    text-align: center;
    text-shadow:5px 5px 10px black;
    font-size: 40px;
    font-family: 'Edu NSW ACT Foundation',cursive;
    font-weight: 550;
    
}

img{
    display: inline-block;
    width: 100%;
    /* margin: 0 10%; */
}

#img-caption{
    font-size: 13px;
}

div#tribute-info{
    background-color: rgba(0, 0, 0,0.2);
    box-shadow: 20px 20px 20px rgb(58, 121, 133);
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1.title{
    color: white;
    text-align: center;
    text-shadow:5px 5px 10px black;
}

